@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Rokkitt", serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px 100px 1fr;
    background: linear-gradient(to top, rgb(162, 22, 218), rgba(240, 130, 246));
    padding-bottom: 15px;
}

.n-top {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    font-size: 60px;
}

.img {
    height: 250px;
    width: 300px;
}

.r {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.d {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 7;
}

.r,
.d {
    margin-bottom: 10px;
    border-radius: 20px;
}

.nl {
    font-size: 35px;
    display: grid;
    place-items: center;
    background-color: rgba(189, 61, 249, 0.413);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s, box-shadow 0.1s;
    padding: 20px;
    min-width: 200px;
    max-width: 100%;
    font-weight: bold;
}

.nl:hover {
    background-color: rgb(209, 64, 225);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.r:hover a,
.d:hover a {
    color: #ffffff;
}

.d a,
.r a {
    text-decoration: none;
    color: black;
}

.d a:hover,
.r a:hover {
    text-decoration: none;
}

.d:active a,
.r:active a {
    color: rgb(253, 241, 25);
}

.out {
    width: 80px;
    height: 90px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 9;
    grid-column-end: 9;
}

.out:hover {
    transform: scale(1.5);
}

.foot {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(231, 130, 246);
    height: 40px;
    display: grid;
    place-items: center;
}

.lr {
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 20vh;
    transform: scale(1.5);
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .lr {
        transform: scale(1);
    }
}

.app {
    min-height: 100vh;
    width: 100vw;
}

.strip {
    background-image: url('https://img.freepik.com/premium-vector/seamless-monochrome-repeating-pattern-sun-snow-drop-star_387335-1257.jpg');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.1;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}