@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Rokkitt", serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 10vh 1fr;
    background: rgba(227, 131, 133, 0.8);
    padding-bottom: 15px;
}

.n-top {
    grid-column-start: 3;
    grid-column-end: 8;
    text-align: center;
    font-size: 60px;
}

.img {
    height: 250px;
    width: 300px;
}

.r {
    grid-column-start: 4;
    grid-column-end: 5;
}

.d {
    grid-column-start: 6;
    grid-column-end: 7;
}

.r,
.d {
    margin-bottom: 10px;
    border-radius: 20px;
    margin-top: 15px;
}

.nl {
    font-size: 35px;
    display: grid;
    place-items: center;
    background-color: rgba(227, 131, 133);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s, box-shadow 0.1s;
    padding: 20px;
    min-width: 200px;
    max-width: 100%;
    font-weight: bold;
}

.nl:hover {
    background-color: rgb(232, 119, 121);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.r:hover a,
.d:hover a {
    color: #ffffff;
}

.d a,
.r a {
    text-decoration: none;
    color: black;
}

.d a:hover,
.r a:hover {
    text-decoration: none;
}

.d:active a,
.r:active a {
    color: rgb(253, 241, 25);
}

.out {
    width: 80px;
    height: 90px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 9;
    grid-column-end: 9;
}

.out:hover {
    transform: scale(1.5);
}

.foot {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(227, 131, 133, 0.8);
    height: 40px;
    display: grid;
    place-items: center;
}

.lr {
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 15vh;
}

.app {
    min-height: 100vh;
    width: 100vw;
}

.strip {
    background-image: url('https://assets-global.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e2985bfab93cd0_DrawKit0096_Education_Icons_Banner-min.png');
    background-repeat: repeat;
    background-size: auto;
    background-color: rgba(255, 0, 204, 0.441);
    opacity: 0.15;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rate-container {
    border-style: solid;
    height: 80vh;
    display: grid;
}

.changer {
    border-style: solid;
    margin: 5vh 5vw 5vh 5vw;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 8vh 8vh 8vh 8vh 15vh 1fr;
    row-gap: 5vh;
    column-gap: 1vw;
}

.switch {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 15;
    border-style: solid;
    text-align: center;
    border-radius: 10vw;
    background-image: url('https://t3.ftcdn.net/jpg/02/23/24/00/360_F_223240002_6GAvK9B0uB4v5wGIkEiAUAOun4C4hwGd.jpg');
}

.selector {
    background-color: rgb(218, 33, 33);
    margin: 3vh 2vw 3vh 2vw;
}

.lesson-cont {
    border-style: solid;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 13;
}

.conf {
    grid-column-start: 2;
    grid-column-end: 8;
}

.enj {
    grid-column-start: 9;
    grid-column-end: 15;
}

.conf,
.enj {
    border-style: solid;
    grid-row-start: 5;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5vh 5vh 1fr;
}

.vote-title {
    border-style: solid;
    text-align: center;
    grid-column: 4;
    grid-row: 1;
}

.smiley-1 {
    border-style: solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    height: 10vh;
}

.smiley-2 {
    border-style: solid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 2;
    height: 10vh;
}

.smiley-3 {
    border-style: solid;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row: 2;
    height: 10vh;
    transform: rotate(9deg);
}

.smiley-3:hover {
    transform: rotate(9deg) scale(1.5);
}

.smiley-1:hover,
.smiley-2:hover {
    transform: scale(1.5);
}

.smiley {
    height: 6vh;
    width: 4vw;
}